* text=auto !eol
/.pkgmeta -text
/Init.lua -text
/Localization-deDE.lua -text
/Localization-enUS.lua -text
/Localization-esES.lua -text
/Localization-esMX.lua -text
/Localization-frFR.lua -text
/Localization-koKR.lua -text
/Localization-ptBR.lua -text
/Localization-ruRU.lua -text
/Localization-zhCN.lua -text
/Localization-zhTW.lua -text
Media/Creative[!!-~]Commons[!!-~]-[!!-~]Attribution[!!-~]3.0.txt -text
Media/Creative[!!-~]Commons[!!-~]-[!!-~]Attribution-NonCommercial[!!-~]3.0.txt -text
Media/Creative[!!-~]Commons[!!-~]-[!!-~]Sampling[!!-~]Plus[!!-~]1.0.txt -text
Media/Provided[!!-~]by.txt -text
Media/Sounds/AirHorn.ogg -text
Media/Sounds/Applause.ogg -text
Media/Sounds/BananaPeelSlip.ogg -text
Media/Sounds/BatmanPunch.ogg -text
Media/Sounds/BikeHorn.ogg -text
Media/Sounds/Blast.ogg -text
Media/Sounds/Bleat.ogg -text
Media/Sounds/BoxingArenaSound.ogg -text
Media/Sounds/CartoonVoiceBaritone.ogg -text
Media/Sounds/CartoonWalking.ogg -text
Media/Sounds/CatMeow2.ogg -text
Media/Sounds/CowMooing.ogg -text
Media/Sounds/KittenMeow.ogg -text
Media/Sounds/RingingPhone.ogg -text
Media/Sounds/RoaringLion.ogg -text
Media/Sounds/RobotBlip.ogg -text
Media/Sounds/SharpPunch.ogg -text
Media/Sounds/Shotgun.ogg -text
Media/Sounds/SquishFart.ogg -text
Media/Sounds/TempleBellHuge.ogg -text
Media/Sounds/Torch.ogg -text
Media/Sounds/WarningSiren.ogg -text
Media/Sounds/WaterDrop.ogg -text
Media/Textures/Circle_Smooth.tga -text
Media/Textures/Circle_Smooth_Border.tga -text
Media/Textures/Circle_Squirrel.tga -text
Media/Textures/Circle_Squirrel_Border.tga -text
Media/Textures/Circle_White.tga -text
Media/Textures/Circle_White_Border.tga -text
Media/Textures/Spark_Bar.tga -text
Media/Textures/Spark_Bar_Full.tga -text
Media/Textures/Spark_Bar_Half.tga -text
Media/Textures/Square_Smooth.tga -text
Media/Textures/Square_Smooth_Border.tga -text
Media/Textures/Square_Smooth_Border2.tga -text
Media/Textures/Square_Squirrel.tga -text
Media/Textures/Square_Squirrel_Border.tga -text
Media/Textures/Square_White.tga -text
Media/Textures/Square_White_Border.tga -text
Media/Textures/interrupt.tga -text
PowerAurasMedia/Auras/Aura1.tga -text
PowerAurasMedia/Auras/Aura10.tga -text
PowerAurasMedia/Auras/Aura100.tga -text
PowerAurasMedia/Auras/Aura101.tga -text
PowerAurasMedia/Auras/Aura102.tga -text
PowerAurasMedia/Auras/Aura103.tga -text
PowerAurasMedia/Auras/Aura104.tga -text
PowerAurasMedia/Auras/Aura105.tga -text
PowerAurasMedia/Auras/Aura106.tga -text
PowerAurasMedia/Auras/Aura107.tga -text
PowerAurasMedia/Auras/Aura108.tga -text
PowerAurasMedia/Auras/Aura109.tga -text
PowerAurasMedia/Auras/Aura11.tga -text
PowerAurasMedia/Auras/Aura110.tga -text
PowerAurasMedia/Auras/Aura111.tga -text
PowerAurasMedia/Auras/Aura112.tga -text
PowerAurasMedia/Auras/Aura113.tga -text
PowerAurasMedia/Auras/Aura114.tga -text
PowerAurasMedia/Auras/Aura115.tga -text
PowerAurasMedia/Auras/Aura116.tga -text
PowerAurasMedia/Auras/Aura117.tga -text
PowerAurasMedia/Auras/Aura118.tga -text
PowerAurasMedia/Auras/Aura119.tga -text
PowerAurasMedia/Auras/Aura12.tga -text
PowerAurasMedia/Auras/Aura120.tga -text
PowerAurasMedia/Auras/Aura121.tga -text
PowerAurasMedia/Auras/Aura122.tga -text
PowerAurasMedia/Auras/Aura123.tga -text
PowerAurasMedia/Auras/Aura124.tga -text
PowerAurasMedia/Auras/Aura125.tga -text
PowerAurasMedia/Auras/Aura126.tga -text
PowerAurasMedia/Auras/Aura127.tga -text
PowerAurasMedia/Auras/Aura128.tga -text
PowerAurasMedia/Auras/Aura129.tga -text
PowerAurasMedia/Auras/Aura13.tga -text
PowerAurasMedia/Auras/Aura130.tga -text
PowerAurasMedia/Auras/Aura131.tga -text
PowerAurasMedia/Auras/Aura132.tga -text
PowerAurasMedia/Auras/Aura133.tga -text
PowerAurasMedia/Auras/Aura134.tga -text
PowerAurasMedia/Auras/Aura135.tga -text
PowerAurasMedia/Auras/Aura136.tga -text
PowerAurasMedia/Auras/Aura137.tga -text
PowerAurasMedia/Auras/Aura138.tga -text
PowerAurasMedia/Auras/Aura139.tga -text
PowerAurasMedia/Auras/Aura14.tga -text
PowerAurasMedia/Auras/Aura140.tga -text
PowerAurasMedia/Auras/Aura141.tga -text
PowerAurasMedia/Auras/Aura142.tga -text
PowerAurasMedia/Auras/Aura143.tga -text
PowerAurasMedia/Auras/Aura144.tga -text
PowerAurasMedia/Auras/Aura145.tga -text
PowerAurasMedia/Auras/Aura15.tga -text
PowerAurasMedia/Auras/Aura16.tga -text
PowerAurasMedia/Auras/Aura17.tga -text
PowerAurasMedia/Auras/Aura18.tga -text
PowerAurasMedia/Auras/Aura19.tga -text
PowerAurasMedia/Auras/Aura2.tga -text
PowerAurasMedia/Auras/Aura20.tga -text
PowerAurasMedia/Auras/Aura21.tga -text
PowerAurasMedia/Auras/Aura22.tga -text
PowerAurasMedia/Auras/Aura23.tga -text
PowerAurasMedia/Auras/Aura24.tga -text
PowerAurasMedia/Auras/Aura25.tga -text
PowerAurasMedia/Auras/Aura26.tga -text
PowerAurasMedia/Auras/Aura27.tga -text
PowerAurasMedia/Auras/Aura28.tga -text
PowerAurasMedia/Auras/Aura29.tga -text
PowerAurasMedia/Auras/Aura3.tga -text
PowerAurasMedia/Auras/Aura30.tga -text
PowerAurasMedia/Auras/Aura31.tga -text
PowerAurasMedia/Auras/Aura32.tga -text
PowerAurasMedia/Auras/Aura33.tga -text
PowerAurasMedia/Auras/Aura34.tga -text
PowerAurasMedia/Auras/Aura35.tga -text
PowerAurasMedia/Auras/Aura36.tga -text
PowerAurasMedia/Auras/Aura37.tga -text
PowerAurasMedia/Auras/Aura38.tga -text
PowerAurasMedia/Auras/Aura39.tga -text
PowerAurasMedia/Auras/Aura4.tga -text
PowerAurasMedia/Auras/Aura40.tga -text
PowerAurasMedia/Auras/Aura41.tga -text
PowerAurasMedia/Auras/Aura42.tga -text
PowerAurasMedia/Auras/Aura43.tga -text
PowerAurasMedia/Auras/Aura44.tga -text
PowerAurasMedia/Auras/Aura45.tga -text
PowerAurasMedia/Auras/Aura46.tga -text
PowerAurasMedia/Auras/Aura47.tga -text
PowerAurasMedia/Auras/Aura48.tga -text
PowerAurasMedia/Auras/Aura49.tga -text
PowerAurasMedia/Auras/Aura5.tga -text
PowerAurasMedia/Auras/Aura50.tga -text
PowerAurasMedia/Auras/Aura51.tga -text
PowerAurasMedia/Auras/Aura52.tga -text
PowerAurasMedia/Auras/Aura53.tga -text
PowerAurasMedia/Auras/Aura54.tga -text
PowerAurasMedia/Auras/Aura55.tga -text
PowerAurasMedia/Auras/Aura56.tga -text
PowerAurasMedia/Auras/Aura57.tga -text
PowerAurasMedia/Auras/Aura58.tga -text
PowerAurasMedia/Auras/Aura59.tga -text
PowerAurasMedia/Auras/Aura6.tga -text
PowerAurasMedia/Auras/Aura60.tga -text
PowerAurasMedia/Auras/Aura61.tga -text
PowerAurasMedia/Auras/Aura62.tga -text
PowerAurasMedia/Auras/Aura63.tga -text
PowerAurasMedia/Auras/Aura64.tga -text
PowerAurasMedia/Auras/Aura65.tga -text
PowerAurasMedia/Auras/Aura66.tga -text
PowerAurasMedia/Auras/Aura67.tga -text
PowerAurasMedia/Auras/Aura68.tga -text
PowerAurasMedia/Auras/Aura69.tga -text
PowerAurasMedia/Auras/Aura7.tga -text
PowerAurasMedia/Auras/Aura70.tga -text
PowerAurasMedia/Auras/Aura71.tga -text
PowerAurasMedia/Auras/Aura72.tga -text
PowerAurasMedia/Auras/Aura73.tga -text
PowerAurasMedia/Auras/Aura74.tga -text
PowerAurasMedia/Auras/Aura75.tga -text
PowerAurasMedia/Auras/Aura76.tga -text
PowerAurasMedia/Auras/Aura77.tga -text
PowerAurasMedia/Auras/Aura78.tga -text
PowerAurasMedia/Auras/Aura79.tga -text
PowerAurasMedia/Auras/Aura8.tga -text
PowerAurasMedia/Auras/Aura80.tga -text
PowerAurasMedia/Auras/Aura81.tga -text
PowerAurasMedia/Auras/Aura82.tga -text
PowerAurasMedia/Auras/Aura83.tga -text
PowerAurasMedia/Auras/Aura84.tga -text
PowerAurasMedia/Auras/Aura85.tga -text
PowerAurasMedia/Auras/Aura86.tga -text
PowerAurasMedia/Auras/Aura87.tga -text
PowerAurasMedia/Auras/Aura88.tga -text
PowerAurasMedia/Auras/Aura89.tga -text
PowerAurasMedia/Auras/Aura9.tga -text
PowerAurasMedia/Auras/Aura90.tga -text
PowerAurasMedia/Auras/Aura91.tga -text
PowerAurasMedia/Auras/Aura92.tga -text
PowerAurasMedia/Auras/Aura93.tga -text
PowerAurasMedia/Auras/Aura94.tga -text
PowerAurasMedia/Auras/Aura95.tga -text
PowerAurasMedia/Auras/Aura96.tga -text
PowerAurasMedia/Auras/Aura97.tga -text
PowerAurasMedia/Auras/Aura98.tga -text
PowerAurasMedia/Auras/Aura99.tga -text
PowerAurasMedia/Sounds/Arrow_Swoosh.ogg -text
PowerAurasMedia/Sounds/BITE.ogg -text
PowerAurasMedia/Sounds/ESPARK1.ogg -text
PowerAurasMedia/Sounds/Fireball.ogg -text
PowerAurasMedia/Sounds/Gasp.ogg -text
PowerAurasMedia/Sounds/PUNCH.ogg -text
PowerAurasMedia/Sounds/Squeakypig.ogg -text
PowerAurasMedia/Sounds/aggro.ogg -text
PowerAurasMedia/Sounds/bam.ogg -text
PowerAurasMedia/Sounds/bear_polar.ogg -text
PowerAurasMedia/Sounds/bigkiss.ogg -text
PowerAurasMedia/Sounds/burp4.ogg -text
PowerAurasMedia/Sounds/cat2.ogg -text
PowerAurasMedia/Sounds/chant2.ogg -text
PowerAurasMedia/Sounds/chant4.ogg -text
PowerAurasMedia/Sounds/chimes.ogg -text
PowerAurasMedia/Sounds/cookie.ogg -text
PowerAurasMedia/Sounds/heartbeat.ogg -text
PowerAurasMedia/Sounds/hic3.ogg -text
PowerAurasMedia/Sounds/huh_1.ogg -text
PowerAurasMedia/Sounds/hurricane.ogg -text
PowerAurasMedia/Sounds/hyena.ogg -text
PowerAurasMedia/Sounds/kaching.ogg -text
PowerAurasMedia/Sounds/moan.ogg -text
PowerAurasMedia/Sounds/panther1.ogg -text
PowerAurasMedia/Sounds/phone.ogg -text
PowerAurasMedia/Sounds/rainroof.ogg -text
PowerAurasMedia/Sounds/rocket.ogg -text
PowerAurasMedia/Sounds/shipswhistle.ogg -text
PowerAurasMedia/Sounds/shot.ogg -text
PowerAurasMedia/Sounds/snakeatt.ogg -text
PowerAurasMedia/Sounds/sneeze.ogg -text
PowerAurasMedia/Sounds/sonar.ogg -text
PowerAurasMedia/Sounds/splash.ogg -text
PowerAurasMedia/Sounds/swordecho.ogg -text
PowerAurasMedia/Sounds/throwknife.ogg -text
PowerAurasMedia/Sounds/thunder.ogg -text
PowerAurasMedia/Sounds/wickedmalelaugh1.ogg -text
PowerAurasMedia/Sounds/wilhelm.ogg -text
PowerAurasMedia/Sounds/wlaugh.ogg -text
PowerAurasMedia/Sounds/wolf5.ogg -text
PowerAurasMedia/Sounds/yeehaw.ogg -text
/Prototypes.lua -text
RegionTypes/aurabar.lua -text
RegionTypes/dynamicgroup.lua -text
RegionTypes/group.lua -text
RegionTypes/icon.lua -text
RegionTypes/model.lua -text
RegionTypes/progresstexture.lua -text
RegionTypes/text.lua -text
RegionTypes/texture.lua -text
RegionTypes/timer.lua -text
/Transmission.lua -text
/Types.lua -text
/WeakAuras.lua -text
/WeakAuras.toc -text
WeakAurasModelPaths/ModelPaths.lua -text
WeakAurasModelPaths/WeakAurasModelPaths.toc -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasDisplayButton.lua -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasIconButton.lua -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasImportButton.lua -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasLoadedHeaderButton.lua -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasNewButton.lua -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasNewHeaderButton.lua -text
WeakAurasOptions/AceGUI-Widgets/AceGUIWidget-WeakAurasTextureButton.lua -text
WeakAurasOptions/ForAllIndentsAndPurposes.lua -text
WeakAurasOptions/Localization-deDE.lua -text
WeakAurasOptions/Localization-enUS.lua -text
WeakAurasOptions/Localization-esES.lua -text
WeakAurasOptions/Localization-esMX.lua -text
WeakAurasOptions/Localization-frFR.lua -text
WeakAurasOptions/Localization-koKR.lua -text
WeakAurasOptions/Localization-ptBR.lua -text
WeakAurasOptions/Localization-ruRU.lua -text
WeakAurasOptions/Localization-zhCN.lua -text
WeakAurasOptions/Localization-zhTW.lua -text
WeakAurasOptions/RegionOptions/aurabar.lua -text
WeakAurasOptions/RegionOptions/dynamicgroup.lua -text
WeakAurasOptions/RegionOptions/group.lua -text
WeakAurasOptions/RegionOptions/icon.lua -text
WeakAurasOptions/RegionOptions/model.lua -text
WeakAurasOptions/RegionOptions/progresstexture.lua -text
WeakAurasOptions/RegionOptions/text.lua -text
WeakAurasOptions/RegionOptions/texture.lua -text
WeakAurasOptions/RegionOptions/timer.lua -text
WeakAurasOptions/WeakAurasOptions.lua -text
WeakAurasOptions/WeakAurasOptions.toc -text
WeakAurasTutorials/Localization-deDE.lua -text
WeakAurasTutorials/Localization-enUS.lua -text
WeakAurasTutorials/Localization-esES.lua -text
WeakAurasTutorials/Localization-esMX.lua -text
WeakAurasTutorials/Localization-frFR.lua -text
WeakAurasTutorials/Localization-koKR.lua -text
WeakAurasTutorials/Localization-ptBR.lua -text
WeakAurasTutorials/Localization-ruRU.lua -text
WeakAurasTutorials/Localization-zhCN.lua -text
WeakAurasTutorials/Localization-zhTW.lua -text
WeakAurasTutorials/TutorialCore.lua -text
WeakAurasTutorials/Tutorials/beginner.lua -text
WeakAurasTutorials/Tutorials/newfeatures.lua -text
WeakAurasTutorials/WeakAurasTutorials.toc -text
/embeds.xml -text
/icon.tga -text
